<html>
    <head>
      <title>Helidon Sites</title>
    </head>
    <body>
      <h1>Helidon Sites</h1>
      <p>Sites:</p>
      <ul>
        {{#helidonSites}}
          <li><a href="{{site}}" target="_blank">{{name}}</a></li>
        {{/helidonSites}}
	  </ul>
	  <a href="/web/index">Hello World</a>
    </body>
</html>